<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="~{template :: headFragment(#{label.titleIndex}, ${'none'})}"></head>
	<body>
		<div class="container-fluid" th:replace="~{navigation :: navFragment}"></div>
		<div class="container-fluid" th:replace="~{product/search :: search_module}"></div>
		<div class="container">
			<h1>Benvenuto su ShopMe</h1>
			
			<div class="row">
				<div class="col p-3" th:each="cat : ${listCategories}">
					<div><img class="rounded" th:src="@{${cat.imagePath}}" style="max-height: 75px;"></div>
					<div><a th:href="@{'/c/'+${cat.alias}}" th:text="${cat.name}"></a></div>
				</div>
			</div>
		</div>
		<footer class="container-fluid" th:replace="~{template :: footerFragment}"></footer>
	</body>
</html>