<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="~{template :: headFragment(${SITE_NAME}, ${'none'})}"></head>
	<body>
		<div class="container-fluid" th:replace="~{navigation :: navFragment}"></div>

		<div class="container text-center">
			<p>&nbsp;</p>
			<h2>Registrazione Cliente</h2>
			<h4>Registrazione avvenuta con successo!</h4>
			<span>Controlla la tua email per verificare il tuo account</span>
			<p><a th:href="@{/login}"> Login </a></p>
			<p>&nbsp;</p>
			
		</div>
		<footer class="container-fluid" th:replace="~{template :: footerFragment}"></footer>
	</body>
</html>