<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="~{template :: headFragment(${SITE_NAME}, ${'none'})}"></head>
	<body>
		<div class="container-fluid" th:replace="~{navigation :: navFragment}"></div>
		<div class="container-fluid" th:replace="~{product/search :: search_module}"></div>
		<div class="container">
			<h1>Registrazione nuovo Cliente</h1>
			
			<form th:action="@{/create_customer}" method="post" th:object="${customer}" onsubmit="return checkEmailUnique(this)">
				<div class="border border-secondary p-3">
					<div class="form-goup row p-2">
						<label class="col-sm-4">Nome:</label>
						<div class="col-sm-6"><input class="form-control" type="text" th:field="*{firstName}" required maxlength="45" minlength="2"></div>
					</div>
					<div class="form-goup row p-2">
						<label class="col-sm-4">Cognome:</label>
						<div class="col-sm-6"><input class="form-control" type="text" th:field="*{lastName}" required maxlength="45" minlength="2"></div>
					</div>
					<div class="form-goup row p-2">
						<label class="col-sm-4">E-mail:</label>
					<div class="col-sm-6"><input class="form-control" type="text" th:field="*{email}" required maxlength="45" minlength="8"></div>
					</div>
					<div class="form-goup row p-2">
						<label class="col-sm-4">Password:</label>
					<div class="col-sm-6"><input class="form-control" type="password" th:field="*{password}" required maxlength="45" minlength="8"
						oninput="checkPasswordMatch(document.getElementById('confirmPassword'))"
						></div>
					</div>
					<div class="form-goup row p-2">
						<label class="col-sm-4">Ripeti Password:</label>
					<div class="col-sm-6"><input class="form-control" type="password" id="confirmPassword" required maxlength="45" minlength="8"
							oninput="checkPasswordMatch(this)"
							></div>
					</div>
					<div class="form-goup row p-2">
						<label class="col-sm-4">Telefono:</label>
					<div class="col-sm-6"><input class="form-control" type="text" th:field="*{phoneNumber}" required maxlength="45" minlength="6"></div>
					</div>
					<div class="form-goup row p-2">
						<label class="col-sm-4">Indirizzo Linea 1:</label>
					<div class="col-sm-6"><input class="form-control" type="text" th:field="*{addressLine1}" required maxlength="45" minlength="2"></div>
					</div>
					<div class="form-goup row p-2">
						<label class="col-sm-4">Indirizzo Linea 2:</label>
					<div class="col-sm-6"><input class="form-control" type="text" th:field="*{addressLine2}"></div>
					</div>
					<div class="form-goup row p-2">
						<label class="col-sm-4">Città:</label>
					<div class="col-sm-6"><input class="form-control" type="text" th:field="*{city}" required maxlength="45" minlength="2"></div>
					</div>
					<div class="form-goup row p-2">
						<label class="col-sm-4">Stato:</label>
						<div class="col-sm-6">
							<select class="form-select" th:field="*{country}">
								<th:block th:each="country : ${listAllCountries}">
									<option th:value="${country.id}" th:text="${country.name}"></option>
								</th:block>
							</select>
						</div>
					</div>
					<div class="form-goup row p-2">
						<label class="col-sm-4">Regione:</label>
						<div class="col-sm-6">
							<input class="form-control" type="text" th:field="*{state}" list="listState" required maxlength="45" minlength="2">
							<datalist id="listState"></datalist>
						</div>
					</div>
					<div class="form-goup row p-2">
						<label class="col-sm-4">CAP:</label>
					<div class="col-sm-6"><input class="form-control" type="text" th:field="*{postalCode}"></div>
					</div>
					<div class="text-center mt-3">
						<input type="submit" class="btn btn-primary" value="Registra Cliente">
					</div>
				</div>
			</form>
			<div th:replace="template :: modal_dialog"></div>
		</div>
		<footer class="container-fluid" th:replace="~{template :: footerFragment}"></footer>
		<script type="text/javascript">
			contextPath = "[[@{/}]]";
			var dropdownCountry;
			var dataListState;
			var fieldState;
			
			$(document).ready(function(){
				dropdownCountry = $("#country");
				dataListState = $("#listState");
				fieldState = $("#state");
				
				dropdownCountry.on("change", function(){
					loadStatesForCountry();
					fieldState.val("").focus();
				});
				
			});
			
			function checkPasswordMatch(confirmPassword){
				if(confirmPassword.value != $("#password").val()){
					confirmPassword.setCustomValidity("Le password non corrispondono");
				}else{
					confirmPassword.setCustomValidity("");
				}
			}
			
			function loadStatesForCountry(){
				selectedCountry = $("#country option:selected");
				countryId = selectedCountry.val();
				url = contextPath + "settings/list_by_country/"+countryId;
				
				$.get(url, function(responseJSON){
					dataListState.empty();
					
					$.each(responseJSON, function(index, state){
						$("<option>").val(state.name).text(state.name).appendTo(dataListState);
					});
				});
			}
			
			function checkEmailUnique(form) {
			url = contextPath + "customers/check_unique";
			customerEmail = $("#email").val();
			
			csrfValue = $("input[name='_csrf']").val();
			params = {email: customerEmail, _csrf: csrfValue}

			$.post(url, params, function (response) {
				if (response == "OK") {
					form.submit();
				} else if (response == "Duplicata") {
					showWarningModalDialog("Indirizzo e-mail già presente nel database");
				} else {
					showErrorModalDialog("Risposta inattesa dal server");
				}
			});
			return false;
			}
			
			function showModalDialog(title, message){
				$("#modalTitle").text(title);
				$("#modalBody").text(message);
				$("#modalDialog").modal('show');
			}
			
			function showErrorModalDialog(message){
				showModalDialog("Errore", message);
			}
			function showWarningModalDialog(message){
				showModalDialog("Attenzione", message);
			}
			
		</script>
	</body>
</html>