<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head th:replace="~{template :: headFragment(#{label.titleIndex}, ${'none'})}"></head>
	<body>
		<div class="container-fluid">
			<div th:replace="~{template :: navFragment}"></div>
		</div>
			<div class="alert alert-primary" role="alert">
				<h2 class="">Benvenuto nel pannello di amministrazione di ShopMe</h2>
				<p>
					[[#{label.welcome}]]&nbsp;&nbsp;<a th:href="@{/account}" sec:authentication="principal.FullName"></a>
					&nbsp;&nbsp;<span sec:authentication="principal.authorities"></span>
				</p>
			</div>
		<div>
			<p>ShopMe Control Panel - CopyRight &copy; ShopMe S.p.A.</p>
		</div>
		<script th:src="@{/js/common.js}"></script>
	</body>
</html>