<html xmlns:th="http://www.thymeleaf.org">

<!--Head Fragment-->

<head th:fragment="headFragment">
	<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

	<title th:text="${title}"></title>

	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<script type="text/javascript" th:src="@{/webjars/jquery/dist/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>

<!--Navigation Fragment-->
<nav th:fragment="navFragment" class="navbar navbar-expand-lg bg-dark navbar-dark">
	<a class="navbar-brand" th:href="@{/}">
		<img th:src="@{/images/ShopmeAdminSmall.png}">
	</a>
	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topNavbar">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="topNavbar">
		<ul class="navbar-nav">
			<li class="nav-itme"><a class="nav-link" th:href="@{/users}" th:text="#{label.users}"></a></li>
			<li class="nav-itme"><a class="nav-link" th:href="@{/categories}" th:text="#{label.categories}"></a></li>
			<li class="nav-itme"><a class="nav-link" th:href="@{/brands}" th:text="#{label.brands}"></a></li>
			<li class="nav-itme"><a class="nav-link" th:href="@{/products}" th:text="#{label.products}"></a></li>
			<li class="nav-itme"><a class="nav-link" th:href="@{/customers}" th:text="#{label.customers}"></a></li>
			<li class="nav-itme"><a class="nav-link" th:href="@{/shippings}" th:text="#{label.shippings}"></a></li>
			<li class="nav-itme"><a class="nav-link" th:href="@{/orders}" th:text="#{label.orders}"></a></li>
			<li class="nav-itme"><a class="nav-link" th:href="@{/report}" th:text="#{label.report}"></a></li>
			<li class="nav-itme"><a class="nav-link" th:href="@{/articles}" th:text="#{label.articles}"></a></li>
			<li class="nav-itme"><a class="nav-link" th:href="@{/menus}" th:text="#{label.menus}"></a></li>
			<li class="nav-itme"><a class="nav-link" th:href="@{/settings}" th:text="#{label.settings}"></a></li>
		</ul>
	</div>
</nav>
<!--Modal Dialog Fragment-->
<div th:fragment="modal_dialog" class="modal fade text-center" id="modalDialog" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="modalTitle">Warning</h4>
				<button type="button" class="close" data-bs-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body">
				<span id="modalBody"></span>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<!--Modal Delete Dialog Fragment-->
<div th:fragment="modal_delete_dialog" class="modal fade text-center" id="confirmModal" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="modalTitle">Conferma Eliminazione</h4>
				 <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          			<span aria-hidden="true">&times;</span>
          		</button>
			</div>
			<div class="modal-body">
				<span id="modalBody">Sicuro di voler eliminare l'utente</span>
			</div>
			<div class="modal-footer">
				<a type="button" class="btn btn-success" href="#" id="yesButton">SI</a>
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">NO</button>
			</div>
		</div>
	</div>
</div>

<!--Footer Fragment-->
<div th:fragment="footerFragment" class="text-center">
	<p>ShopMe Control Panel - CopyRight &copy; ShopMe S.p.A.</p>
</div>

<th th:fragment="columnLink(fieldName, colLabel)">
	<a  th:href="@{${link}+${currentPage}+'?sortField='+${fieldName}+'&sortDir='+ ${sortField != fieldName ? sortDir : reverseSortDir} +${keyword != null ? '&keyword='+keyword : ''}}"
		th:text="${colLabel}" class="text-white">
	</a>
	<i th:if="${sortField == fieldName}" 
		th:class="${sortDir == 'asc' ? 'fa-solid fa-sort-up' : 'fa-solid fa-sort-down'}"></i>
</th>