<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{template :: headFragment(#{label.titleUsers}, ${'none'})}"></head>
	<body>
		<div class="container-fluid">
			<div>
				<nav th:replace="~{template :: navFragment}"></nav>
			</div>
		</div>
			<div class="alert alert-primary" role="alert">
				<h2 class="prova">[[#{label.h1Users}]]</h2>
				<a th:href="@{/users/new}" type="button"><i class="fa-solid fa-user-plus fa-2xl"></i></a>&nbsp;&nbsp;
				<a th:href="@{/users/export/csv}" type="button"><i class="fa-solid fa-file-csv fa-2xl"></i></a>&nbsp;&nbsp;
				<a th:href="@{/users/export/excel}" type="button"><i class="fa-solid fa-file-excel fa-2xl"></i></a>&nbsp;&nbsp;
				<a th:href="@{/users/export/pdf}" type="button"><i class="fa-solid fa-file-pdf fa-2xl"></i></a>
			</div>
			<div th:if="${message != null}" class="alert alert-success text-center">
				<label th:text="${message}"></label>
			</div>
			<div>
				<div th:replace="~{template :: module_search('/users/page/1')}"></div>
			</div>
			<div class="full-details">
				<table class="table table-bordered table-striped table-hover table-responsive-xl"> 
					<thead class="table-dark">
						<tr>
							<th class="hideable-column" th:text="#{label.thUser}"></th>
							<th th:text="#{label.thFoto}"></th>
							<th th:replace="~{template :: columnLink('lastName', #{label.lastName})}"></th>
							<th th:replace="~{template :: columnLink('firstName', #{label.firstName})}"></th>
							<!-- Old version
							<th>
								<a th:if="${sortField != 'lastName'}"  
									th:href="@{${link}+${currentPage}+'?sortField=lastName&sortDir='+${sortDir}+${keyword != null ? '&keyword='+keyword : ''}}"
									th:text="#{label.lastName}" class="text-white">
								</a>
								<a 	th:if="${sortField == 'lastName'}"
									th:href="@{${link}+${currentPage}+'?sortField=lastName&sortDir='+${reverseSortDir}+${keyword != null ? '&keyword='+keyword : ''}}"
									th:text="#{label.lastName}" class="text-white">
								</a>
								<i th:if="${sortField == 'lastName'}" 
									th:class="${sortDir == 'asc' ? 'fa-solid fa-sort-up' : 'fa-solid fa-sort-down'}"></i>
							</th> 
							<th>
								<a th:text="#{label.firstName}"
									th:if="${sortField != 'firstName'}" class="text-white"
									th:href="@{${link}+${currentPage}+'?sortField=firstName&sortDir='+${sortDir}}">
								</a>
								<a th:text="#{label.firstName}" class="text-white"
									th:if="${sortField == 'firstName'}"
									th:href="@{${link}+${currentPage}+'?sortField=firstName&sortDir='+${reverseSortDir}}">
								</a>
								<i th:if="${sortField == 'firstName'}" 
								th:class="${sortDir == 'asc' ? 'fa-solid fa-sort-up' : 'fa-solid fa-sort-down'}"></i>
							</th> -->
							<th th:text="#{label.roles}"></th>
							<th class="hideable-column" th:replace="~{template :: columnLink('email', #{label.email})}"></th>
						<!--	<th th:text="#{label.email}"></th>-->
						<!-- OLD VERSION
							<th>
								<a th:text="#{label.email}"
									th:if="${sortField != 'email'}" class="text-white"
									th:href="@{${link}+${currentPage}+'?sortField=email&sortDir='+${sortDir}}">
								</a>
								<a th:text="#{label.email}" class="text-white"
									th:if="${sortField == 'email'}"
									th:href="@{${link}+${currentPage}+'?sortField=email&sortDir='+${reverseSortDir}}">
								</a>
								<i th:if="${sortField == 'email'}" 
								th:class="${sortDir == 'asc' ? 'fa-solid fa-sort-up' : 'fa-solid fa-sort-down'}"></i>
							</th>-->
							<th th:text="#{label.enabled}"></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="user : ${users}">
							<td class="hideable-column" th:text="${user.id}"></td>
							<td>
								<i th:if="${user.photos == null}" class="fa-solid fa-image-portrait fa-2xl" style="color: #757575;"></i>
								<img th:if="${user.photos != null}" th:src="@{${user.getPhotoImagePath}}" 
								style="max-width: 100px;" class="rounded img-fluid"/>
							</td>
							<td th:text="${user.lastName}"></td>
							<td th:text="${user.firstName}"></td>
							<td th:text="${user.roles}"></td>
							<td class="hideable-column" th:text="${user.email}"></td>
							<td class="text-center">
								<a th:if="${user.enabled == true}" th:href="@{'/users/' + ${user.id} + '/enabled/false' }" 
								 title="Diabilita l'utente" class="fa-solid fa-circle-check fa-2xl" style="color: #00c70d;"></a>
								<a th:if="${user.enabled == false}" th:href="@{'/users/' + ${user.id} + '/enabled/true' }"
								title="Abilita l'utente" class="fa-solid fa-circle-xmark fa-2xl" style="color: #ff0000;"></a>
							</td>
							<td>
								<a th:href="@{'/users/edit/' + ${user.id}}" class="fa-solid fa-user-pen fa-2xl" style="color: #00c70d;"></a>
								&nbsp;
								<a th:href="@{'/users/delete/' + ${user.id}}" class="fa-solid fa-trash fa-2xl link-delete" style="color: #ff0000;" 
								th:userId="${user.id}" title="elimina questo utente"></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="less-details">
				<div th:each="user : ${users}" class="row m-1">
					<div class="col">
						<i th:if="${user.photos == null}" class="fa-solid fa-image-portrait fa-2xl" style="color: #757575;"></i>
						<img th:if="${user.photos != null}" th:src="@{${user.getPhotoImagePath}}" 
							style="max-width: 100px;" class="rounded img-fluid"/>
					</div>
					<div class="col">
						<div th:text="${user.getFullName}"></div>
						<div th:text="${user.roles}"></div>
						<div class="mt-1">
							<a th:if="${user.enabled == true}" th:href="@{'/users/' + ${user.id} + '/enabled/false' }" 
							 title="Diabilita l'utente" class="fa-solid fa-circle-check fa-xl" style="color: #00c70d;"></a>
							 
							<a th:if="${user.enabled == false}" th:href="@{'/users/' + ${user.id} + '/enabled/true' }"
							title="Abilita l'utente" class="fa-solid fa-circle-xmark fa-xl" style="color: #ff0000;"></a>
							&nbsp;
							
							<a th:href="@{'/users/edit/' + ${user.id}}" class="fa-solid fa-user-pen fa-xl" style="color: #00c70d;"></a>
									&nbsp;
							<a th:href="@{'/users/delete/' + ${user.id}}" class="fa-solid fa-trash fa-xl link-delete" style="color: #ff0000;" 
							th:userId="${user.id}" title="elimina questo utente"></a>
						</div>
					</div>
				</div>&nbsp;			
			</div>
		<!--Paginating -->
		<div class="text-center m-1" th:if="${totalItems>0}">
			<span th:text="#{label.paginating} + ' '+ ${startCount} + ' - '+ ${endCount} + ' ' +#{label.di} + ' ' + ${totalItems}"></span>
		</div>
		<div class="text-center m-1" th:unless="${totalItems>0}">
			<span th:text="#{label.nouserfound}"></span>
		</div>
		<!--Modal dialog non unique email-->
		<div th:replace="~{template :: modal_delete_dialog}"></div>
		<div th:if="${lastPage>1}">
			<nav>
			  <ul class="pagination justify-content-center flex-wrap" >
				<li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
					<a class="page-link" th:href="@{'/users/page/1?sortField='+${sortField}+'&sortDir='+${sortDir}+${keyword != null ? '&keyword='+keyword : ''}}" th:text="#{label.first}"></a>
				</li>
			    <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
					<a class="page-link" th:href="@{'/users/page/'+${currentPage-1}+'?sortField='+${sortField}+'&sortDir='+${sortDir}+${keyword != null ? '&keyword='+keyword : ''}}" th:text="#{label.previus}"></a>
				</li>
				
			    <li th:class="${currentPage != i ? 'page-item' : 'page-item active'}" 
			    	th:each="i : ${#numbers.sequence(1, lastPage)}">
					<a class="page-link" th:href="@{'/users/page/'+ ${i}+'?sortField='+${sortField}+'&sortDir='+${sortDir}+${keyword != null ? '&keyword='+keyword : ''}}" th:text="${i}"></a>
				</li>
			    <li th:class="${currentPage < lastPage ? 'page-item' : 'page-item disabled'}">
					<a class="page-link" th:href="@{'/users/page/'+${currentPage+1}+'?sortField='+${sortField}+'&sortDir='+${sortDir}+${keyword != null ? '&keyword='+keyword : ''}}" th:text="#{label.next}"></a>
				</li>
			    <li th:class="${currentPage < lastPage ? 'page-item' : 'page-item disabled'}">
					<a class="page-link" th:href="@{'/users/page/'+${lastPage}+'?sortField='+${sortField}+'&sortDir='+${sortDir}+${keyword != null ? '&keyword='+keyword : ''}}" th:text="#{label.last}"></a>
				</li>
			  </ul>
			</nav>
		</div>
		<span th:text="${currentPage}"></span>
		<!--Footer-->
		<div th:replace="~{template :: footerFragment}"></div>
	
		<script type="text/javascript">
			$(document).ready(function(){
				$(".link-delete").on("click", function(e){
					e.preventDefault();
					link = $(this);
					//alert($(this).attr("href"));
					userId = link.attr("userId");
					$("#yesButton").attr("href", link.attr("href"));
					$("#confirmText").text("Sei sicuro di eliminalere l'utente" + userId);
					$("#confirmModal").modal('show');
				});
			});
			function clearFilter(){
				window.location="[[@{/users}]]";
			}
		</script>
	</body>
</html>