<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{template :: headFragment(#{label.newAccount}, ${'none'})}"></head>

<body>
	<div class="container-fluid">
		<div>
			<nav th:replace="~{template :: navFragment}"></nav>
		</div>
	</div>
	<div class="alert alert-primary" role="alert">
		<h2 class="" th:text="${title}"></h2>
		<a type="button" class="btn btn-primary" th:text="#{label.back}" th:href="@{/users}"></a>
	</div>

	<form th:action="@{/users/save}" method="post" style="max-width: 700px; margin: 0 auto;" th:object="${user}"
		enctype="multipart/form-data"
		onsubmit="return checkEmailUnique(this);">
		<input type="hidden" id="id" th:field="*{id}">
		<!-- 2 column grid layout with text inputs for the first and last names -->
		<div class="row mb-4">
			<div class="col">
				<div class="form-outline">
					<input type="text" class="form-control" th:field="*{firstName}" />
					<label class="form-label" for="form6Example1" th:text="#{label.firstName}"></label>
				</div>
			</div>
			<div class="col">
				<div class="form-outline">
					<input type="text" class="form-control" th:field="*{lastName}" />
					<label class="form-label" for="form6Example2" th:text="#{label.lastName}"></label>
				</div>
			</div>
		</div>
		<!-- Email input -->
		<div class="form-outline mb-4">
			<input type="email" class="form-control" th:field="*{email}" />
			<label class="form-label" for="form6Example5" th:text="#{label.email}"></label>
		</div>

		<!-- Text input -->
		<div class="form-outline mb-4">
			<input th:if="${user.id == null}" type="password" class="form-control" th:field="*{password}" required/>
			<input th:if="${user.id != null}" type="password" class="form-control" th:field="*{password}" />
			<label class="form-label" for="form6Example4">Password</label>
		</div>

		<!-- Roles checkbox -->
		<div class="form-outline mb-4">
			<th:block th:each="role : ${roles}">
				<input class="form-check-input me-2" type="checkbox" th:field="*{roles}" th:text="${role.name}"
					th:value="${role.id}" />
				&nbsp;-&nbsp;
				<label class="form-check-label" th:text="${role.description}"></label>
				<br />
			</th:block>
		</div>

		<div class="form-check d-flex mb-4">
			<input class="form-check-input me-2" type="checkbox" value="" th:field="*{enabled}" />
			<label class="form-check-label"> Abilitato </label>
		</div>
				
		<!-- Profile Photo-->
		<div class="form-outline d-flex mb-4">
			<input type="hidden" th:field="*{photos}" />
			<label class="form-label mg-2" th:text="#{label.profilephoto}"></label>
			<input type="file" id="fileImage" name="image" class="mb-2" accept="image/png, image/jpeg" />
			<img id="thumbnail" alt="Anteprima" th:src="@{${user.getPhotoImagePath}}" style="max-width: 200px;"
			 class="rounded img-fluid" />
		</div>
		
		<!-- Submit button -->
		<div class="text-center">
			<input type="submit" value="Invia" class="btn btn-primary" />
			<input type="button" value="Indietro" class="btn btn-secondary" />
		</div>
	</form>
	<!--Modal dialog non unique email-->
	<div th:replace="~{template :: modal_dialog}"></div>
	
	<!--Footer-->
	<div th:replace="~{template :: footerFragment}"></div>

	<script th:src="@{/js/common.js}"></script>

	<script type="text/javascript">
		$(document).ready(function(){
			$("#fileImage").change(function(){
				fileSize = this.files[0].size;
				//alert("Dimensione Immagine " + fileSize);
				if(fileSize > 3000000){
					this.setCustomValidity("Scegli un immagine più piccola di 3mb!");
					this.reportValidity();
				}else{
					showImageThumbnail(this);
				}
			});
		});
		
		function showImageThumbnail(fileInput){
			var file = fileInput.files[0];
			var reader = new FileReader();
			reader.onload = function(e){
				$("#thumbnail").attr("src", e.target.result);
			};
			reader.readAsDataURL(file);
		}
		
		function checkEmailUnique(form) {
			url = "[[@{/users/check_email}]]";
			userId = $("#id").val();
			userEmail = $("#email").val();
			csrfValue = $("input[name='_csrf']").val();
			params = {id: userId, email: userEmail, _csrf: csrfValue}

			$.post(url, params, function (response) {
				if (response == "OK") {
					form.submit();
				} else if (response == "Duplicated") {
					showWarningModalDialog("Indirizzo e-mail già presente nel database");
				} else {
					showErrorModalDialog("Risposta inattesa dal server");
				}
			});
			return false;
		}
		function showModalDialog(title, message){
			$("#modalTitle").text(title);
			$("#modalBody").text(message);
			$("#modalDialog").modal('show');
		}
		
		function showErrorModalDialog(message){
			showModalDialog("Errore", message);
		}
		function showWarningModalDialog(message){
			showModalDialog("Attenzione", message);
		}
	</script>
</body>

</html>