<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{template :: headFragment}"></head>
	<body>
		<div class="container-fluid">
			<div>
				<nav th:replace="~{template :: navFragment}"></nav>
			</div>
		</div>
			<div class="alert alert-primary" role="alert">
				<h2 class="">Pagina di Amministrazione Utenti</h2>
				<a type="button" class="btn btn-primary" th:text="#{label.newUser}" th:href="@{/users/new}"></a>
			</div>
			<div th:if="${message != null}" class="alert alert-success text-center">
				<label th:text="${message}"></label>
			</div>
			<div>
				<table class="table table-bordered table-striped table-over	 table-responsive-xl"> 
					<thead class="table-dark">
						<tr>
							<th th:text="#{label.thUser}"></th>
							<th th:text="#{label.thFoto}"></th>
							<th th:text="#{label.firstName}"></th>
							<th th:text="#{label.lastName}"></th>
							<th th:text="#{label.roles}"></th>
							<th th:text="#{label.email}"></th>
							<th th:text="#{label.enabled}"></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="user : ${users}">
							<td th:text="${user.id}"></td>
					<!--	<td th:text="${user.photos}"></td> -->
							<td><i class="fa-solid fa-image-portrait fa-2xl" style="color: #757575;"></i></td>
							<td th:text="${user.firstName}"></td>
							<td th:text="${user.lastName}"></td>
							<td th:text="${user.roles}"></td>
							<td th:text="${user.email}"></td>
							<td class="text-center">
								<i th:if="${user.enabled == true}" class="fa-solid fa-circle-check fa-2xl" style="color: #00c70d;"></i>
								<i th:if="${user.enabled == false}" class="fa-solid fa-circle-xmark fa-2xl" style="color: #ff0000;"></i>
							</td>
							<td>
								<a th:href="@{'/users/edit/' + ${user.id}}" class="fa-solid fa-user-pen fa-2xl" style="color: #00c70d;"></a>
								&nbsp;
								<a href="#" class="fa-solid fa-trash fa-2xl" style="color: #ff0000;"></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		<div class="text-center">
			<p>ShopMe Control Panel - CopyRight &copy; ShopMe S.p.A.</p>
		</div>
	</body>
</html>