<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{template :: headFragment}"></head>

<body>
	<div class="container-fluid">
		<div>
			<nav th:replace="~{template :: navFragment}"></nav>
		</div>
	</div>
	<div class="alert alert-primary" role="alert">
		<h2 class="">Nuovo Utente</h2>
		<a type="button" class="btn btn-primary" th:text="#{label.back}" th:href="@{/users}"></a>
	</div>

	<form th:action="@{/users/save}" method="post" style="max-width: 700px; margin: 0 auto;" th:object="${user}"
		onsubmit="return checkEmailUnique(this);">
		<!-- 2 column grid layout with text inputs for the first and last names -->
		<div class="row mb-4">
			<div class="col">
				<div class="form-outline">
					<input type="text" class="form-control" th:field="*{firstName}" />
					<label class="form-label" for="form6Example1" th:text="#{label.firstName}"></label>
				</div>
			</div>
			<div class="col">
				<div class="form-outline">
					<input type="text" class="form-control" th:field="*{lastName}" />
					<label class="form-label" for="form6Example2" th:text="#{label.lastName}"></label>
				</div>
			</div>
		</div>
		<!-- Email input -->
		<div class="form-outline mb-4">
			<input type="email" class="form-control" th:field="*{email}" />
			<label class="form-label" for="form6Example5" th:text="#{label.email}"></label>
		</div>

		<!-- Text input -->
		<div class="form-outline mb-4">
			<input type="password" class="form-control" th:field="*{password}" />
			<label class="form-label" for="form6Example4">Password</label>
		</div>

		<!-- Roles checkbox -->
		<div class="form-outline mb-4">
			<th:block th:each="role : ${roles}">
				<input class="form-check-input me-2" type="checkbox" th:field="*{roles}" th:text="${role.name}"
					th:value="${role.id}" />
				&nbsp;-&nbsp;
				<label class="form-check-label" th:text="${role.description}"></label>
				<br />
			</th:block>
		</div>

		<div class="form-check d-flex mb-4">
			<input class="form-check-input me-2" type="checkbox" value="" th:field="*{enabled}" />
			<label class="form-check-label"> Abilitato </label>
		</div>

		<!-- Submit button -->
		<div class="text-center">
			<input type="submit" value="Invia" class="btn btn-primary" />
			<input type="button" value="Indietro" class="btn btn-secondary" />
		</div>
	</form>
	<!--Modal dialog non unique email-->
	<div th:replace="~{template :: modal_dialog}"></div>
	
	<!--Footer-->
	<div th:replace="~{template :: footerFragment}"></div>



	<script type="text/javascript">
		function checkEmailUnique(form) {
			url = "[[@{/users/check_email}]]";
			userEmail = $("#email").val();
			csrfValue = $("input[name='_csrf']").val();
			params = {email: userEmail, _csrf: csrfValue}

			$.post(url, params, function (response) {
				if (response == "OK") {
					form.submit();
				} else if (response == "Duplicated") {
					showModalDialog("Attenzione", "Indirizzo e-mail già presente nel database");
				}
			});
			return false;
		}
		function showModalDialog(title, message){
			$("#modalTitle").text(title);
			$("#modalBody").text(message);
			$("#modalDialog").modal('show');
		}	
	</script>
</body>

</html>