<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<head th:replace="~{template :: headFragment(#{label.titleProducts}, ${'tag'})}" />
	<link rel="stylesheet" th:href="@{/richtext/richtext.min.css}">
	<script th:src="@{/richtext/jquery.richtext.min.js}"></script>
</head>
<body>
	<div class="container-fluid">
		<div>
			<nav th:replace="~{template :: navFragment}"></nav>
		</div>
	</div>
	<div class="alert alert-primary" role="alert">
		<h2 class="prova" th:text="${newProduct == 'new'} ? #{label.newProduct} : #{label.editProduct}"></h2>
		<a type="button" class="btn btn-primary" th:text="#{label.back}" th:href="@{/products}"></a>
		<div th:if="${message != null}" class="alert alert-success text-center">
			<label th:text="${message}"></label>
		</div>
	</div>
		<form th:action="@{/products/save}" method="post" th:object="${product}" 
		onsubmit="return checkUnique(this)" enctype="multipart/form-data">
		
		<div class="container">
		<nav>
		  <div class="nav nav-tabs" id="nav-tab" role="tablist">
		    <button class="nav-link active" id="nav-overview-tab" data-bs-toggle="tab" data-bs-target="#nav-overview" type="button" role="tab" aria-controls="nav-overview" aria-selected="true" th:text="#{label.overview}"></button>
		    <button class="nav-link" id="nav-description-tab" data-bs-toggle="tab" data-bs-target="#nav-description" type="button" role="tab" aria-controls="nav-description" aria-selected="false" th:text="#{label.description}"></button>
		    <button class="nav-link" id="nav-photos-tab" data-bs-toggle="tab" data-bs-target="#nav-photos" type="button" role="tab" aria-controls="nav-photos" aria-selected="false" th:text="#{label.photos}"></button>
		    <button class="nav-link" id="nav-details-tab" data-bs-toggle="tab" data-bs-target="#nav-details" type="button" role="tab" aria-controls="nav-details" aria-selected="false" th:text="#{label.details}"></button>
		  </div>
		</nav>
		<div class="tab-content" id="nav-tabContent">
		  <div class="tab-pane fade show active" id="nav-overview" role="tabpanel" aria-labelledby="nav-overview-tab" tabindex="0">
			  <div th:replace="~{products/product_overview :: content}"></div>
		  </div>
		  <div class="tab-pane fade" id="nav-description" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
			<div th:replace="~{products/product_description :: content}"></div>
		</div>
		  <div class="tab-pane fade" id="nav-photos" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">
			<div th:replace="~{products/product_images :: content}"></div>
			</div>
		  <div class="tab-pane fade" id="nav-details" role="tabpanel" aria-labelledby="nav-disabled-tab" tabindex="0">
			  <div th:replace="~{products/product_shipping :: content}"></div>
		  </div>
		</div>
		</div>
		<!-- Submit button -->
		<div class="text-center pt-3">
			<input type="submit" value="Invia" class="btn btn-primary" />
			<a type="button" class="btn btn-secondary" th:text="#{label.back}" th:href="@{/products}"></a>
		</div>
	</form>
	
	<!--Modal dialog non unique Brand-->
	<div th:replace="~{template :: modal_dialog}"></div>
	
	<!--Footer-->
	<div th:replace="~{template :: footerFragment}"></div>
		
	<script type="text/javascript">
		MAX_FILE_SIZE = 512000; // 500kb
		moduleURL="[[@{/products}]]";
		brandsModuleURL="[[@{/brands}]]";
		defaultImageThumbnailSrc = "[[@{/images/default_image.png}]]";

	</script>
	<script type="text/javascript" th:inline="javascript" th:src="@{/js/common.js}"></script>
	<script type="text/javascript" th:inline="javascript" th:src="@{/js/product_form.js}"></script>
</body>