<div th:fragment="content" th:remove="tag">
	<div class="row align-items-center mt-3">
		<h2 class="text-center">Dettagli prodotto</h2>
	</div>
	<div class="row align-items-start">
			<div class="col-4">
				<label class="form-label pt-3">Altezza</label>
				<input type="number" step="0.01" class="form-control" th:field="*{height}">
			</div>
			<div class="col-4">
				<label class="form-label pt-3">Larghezza</label>
				<input type="number" step="0.01" class="form-control" th:field="*{width}">
			</div>
	<div class="row align-items-start">
			<div class="col-4">
				<label class="form-label pt-3">Profondità</label>
				<input type="number" step="0.01" class="form-control" th:field="*{length}">
			</div>
			<div class="col-4">
				<label class="form-label pt-3">Peso</label>
				<input type="number" step="0.01" class="form-control" th:field="*{weight}">
			</div>
		</div>
	</div>
	<div id="divProductDetails">
		<th:block th:each="detail, status : ${product.details}">
			<div class="form row align-items-center mt-3" th:id="'divDetail'+${status.index}">
			<div class="col-4">
				<label>Nome:</label>
				<input type="text" class="form-control" name="detailNames" maxlength="50" th:value="${detail.name}" />
			</div>
			<div class="col-4">
				<label>Valore:</label>
				<input type="text" class="form-control" name="detailValues" maxlength="255" th:value="${detail.value}"/>
			</div>
			<div class="col-2">
				<a name="linkRemoveDetail" class="fa-regular fa-circle-xmark fa-xl text-end" title="Rimuovi"></a>
			</div>
		</div>
		</th:block>
		<div class="form row align-items-center mt-3" th:id="'divDetail'+${#lists.size(product.details)}">
			<div class="col-4">
				<label>Nome:</label>
				<input type="text" class="form-control" name="detailNames" maxlength="50" />
			</div>
			<div class="col-4">
				<label>Valore:</label>
				<input type="text" class="form-control" name="detailValues" maxlength="255" />
			</div>
		</div>
	</div>
</div>