<div th:fragment="content" th:remove="tag">
	<div class="container">
		<div><label>[[#{label.labelImage}]]</label></div>
		<div class="row align-items-start" id="divProductImages">
			<div class="col-3 border m-3 p-2">
				<div>
					<img id="thumbnail" alt="Immagine principale del prodotto" style="max-width: 300px;" class="rounded img-fluid"
					th:src="@{${product.mainImagePath}}">
					<input type="file" id="fileImage" name="fileImage" class="mb-2" accept="image/png, image/jpeg, image/webp" />
				</div>
				<input type="hidden" th:field="*{mainImage}">
			</div>
			
			<th:block th:each="productImage, status : ${product.images}"> 
				<div class="col-3 border m-3 p-2" th:id="'divExtraImage' + ${status.index}">
					<a name="linkRemoveExtraImage" class="fa-regular fa-circle-xmark fa-xl text-end" title="Rimuovi questa immagine"></a>
				<div>
					<label>Extra immagine</label>
					<div th:id="'extraImageHeader' + ${status.index}" class="text-end" title="Rimuovi questa immagine"></div>
				</div>
				<div>
					<img th:id="'extraThumbnail' + ${status.index}" alt="Immagine del prodotto" style="max-width: 300px;" class="rounded img-fluid"
					th:src="@{${productImage.imagePath}}">
					<input type="file" name="extraFileImage" class="mb-2" accept="image/png, image/jpeg, image/webp" />
				</div>
				<input type="hidden" name="imageIds" th:id="'imageId'+${status.index}" th:value="${productImage.id}">
				<input type="hidden" name="imageNames" th:id="'imageName'+${status.index}" th:value="${productImage.name}">
			</div>
			</th:block>
			
			<div class="col-3 border m-3 p-2" th:id="'divExtraImage'+${numberOfExtraImages}">
				<div>
					<label>Extra immagine</label>
					<div th:id="'extraImageHeader'+${numberOfExtraImages}" class="text-end" title="Rimuovi questa immagine"></div>
				</div>
				<div>
					<img th:id="'extraThumbnail'+${numberOfExtraImages}" alt="Immagine del prodotto" style="max-width: 300px;" class="rounded img-fluid"
					th:src="@{${product.mainImagePath}}">
					<input type="file" name="extraFileImage" class="mb-2" accept="image/png, image/jpeg, image/webp" />
				</div>
			</div>
		</div>
	</div>
</div>