<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="~{template :: headFragment(${SITE_NAME}, ${'none'})}"></head>
	<body>
		<div class="container-fluid" th:replace="~{navigation :: navFragment}"></div>
		<div class="container-fluid" th:replace="~{product/search :: search_module}"></div>
		<div class="container">
			<h1>Dettagli Cliente</h1>
			<hr>
			
			<form th:action="@{/update_account_detail}" method="post" th:object="${customer}">
				<div class="border border-secondary p-3">
					<input type="hidden" th:field="*{id}">
					<div class="form-goup row p-2">
						<label class="col-sm-4">Login:</label>
						<div class="col-sm-6"><input class="form-control" type="text" th:field="*{authenticationType}" readonly ></div>
					</div>
					<div class="form-goup row p-2">
						<label class="col-sm-4">E-mail:</label>
						<div class="col-sm-6"><input class="form-control" type="text" th:field="*{email}" readonly ></div>
					</div>
					<div class="form-goup row p-2">
						<label class="col-sm-4">Nome:</label>
						<div class="col-sm-6"><input class="form-control" type="text" th:field="*{firstName}" required maxlength="45" minlength="2"></div>
					</div>
					<div class="form-goup row p-2">
						<label class="col-sm-4">Cognome:</label>
						<div class="col-sm-6"><input class="form-control" type="text" th:field="*{lastName}" required maxlength="45" minlength="2"></div>
					</div>
					<th:block th:if="${customer.authenticationType.name() == 'DATABASE'}">
						<div class="form-goup row p-2">
							<label class="col-sm-4">Password:</label>
						<div class="col-sm-6"><input class="form-control" type="password" th:field="*{password}" maxlength="45" minlength="8"
							oninput="checkPasswordMatch(document.getElementById('confirmPassword'))"></div>
						</div>
						<div class="form-goup row p-2">
							<label class="col-sm-4">Ripeti Password:</label>
						<div class="col-sm-6"><input class="form-control" type="password" id="confirmPassword" maxlength="45" minlength="8"
								oninput="checkPasswordMatch(this)"></div>
						</div>
					</th:block>
					<div class="form-goup row p-2">
						<label class="col-sm-4">Telefono:</label>
					<div class="col-sm-6"><input class="form-control" type="text" th:field="*{phoneNumber}" required maxlength="45" minlength="6"></div>
					</div>
					<div class="form-goup row p-2">
						<label class="col-sm-4">Indirizzo Linea 1:</label>
					<div class="col-sm-6"><input class="form-control" type="text" th:field="*{addressLine1}" required maxlength="45" minlength="2"></div>
					</div>
					<div class="form-goup row p-2">
						<label class="col-sm-4">Indirizzo Linea 2:</label>
					<div class="col-sm-6"><input class="form-control" type="text" th:field="*{addressLine2}"></div>
					</div>
					<div class="form-goup row p-2">
						<label class="col-sm-4">Città:</label>
					<div class="col-sm-6"><input class="form-control" type="text" th:field="*{city}" required maxlength="45" minlength="2"></div>
					</div>
					<div class="form-goup row p-2">
						<label class="col-sm-4">Stato:</label>
						<div class="col-sm-6">
							<select class="form-select" th:field="*{country}">
								<th:block th:each="country : ${listAllCountries}">
									<option th:value="${country.id}" th:text="${country.name}"></option>
								</th:block>
							</select>
						</div>
					</div>
					<div class="form-goup row p-2">
						<label class="col-sm-4">Regione:</label>
						<div class="col-sm-6">
							<input class="form-select" type="text" th:field="*{state}" list="listState" required maxlength="45" minlength="2">
							<datalist id="listState"></datalist>
						</div>
					</div>
					<div class="form-goup row p-2">
						<label class="col-sm-4">CAP:</label>
					<div class="col-sm-6"><input class="form-control" type="text" th:field="*{postalCode}"></div>
					</div>
					<div class="text-center mt-3">
						<input type="submit" class="btn btn-primary" value="Salva Modifiche">
					</div>
				</div>
			</form>
			<div th:replace="template :: modal_dialog"></div>
			
		</div>
			
		<footer class="container-fluid" th:replace="~{template :: footerFragment}"></footer>
	</body>
	<script type="text/javascript">
		contextPath = "[[@{/}]]";
	</script>
	<script type="text/javascript" th:src="@{/js/common_customer_form.js}"></script>
</html>