<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="~{template :: headFragment(${SITE_NAME}, ${'none'})}">
</head>
<body>
<div class="container-fluid text-center">
	<div th:replace="~{navigation :: navFragment}"></div>
	
	<section class="container vh-100 rounded" style="background-color: #508bfc;">
		<div class="container py-5 h-100">
			<div class="row d-flex justify-content-center align-items-center h-100">
				<div class="col-12 col-md-8 col-lg-6 col-xl-5">
					<div class="card shadow-2-strong" style="border-radius: 1rem;">
						<div class="card-body p-5 text-center">
							<h2 class="mb-5">Recupera Password</h2>
							<form th:action="@{/forgot_password}" method="post">
								<div th:if="${error}">
									<p class="text-danger">[[${error}]]</p>
								</div>
								<div th:if="${message}">
									<p class="text-warning">[[${message}]]</p>
								</div>
								<div th:if="${param.logout}">
									<p class="text-warning">Adesso non sei più loggato</p>
								</div>
								<div>
									<p>Hai perso la password? Inserisci l'indirizzo email. 
												Riceverai tramite email un link per generarne una nuova.</p>
								</div>
								<div class="form-outline mb-4">
	              					<input type="email" name="email" placeholder="E-mail" id="typeEmailX-2" class="form-control form-control-lg" required/>
           						</div>			            
					            <button class="btn btn-primary btn-lg btn-block" type="submit">Recupera</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer class="container-fluid" th:replace="~{template :: footerFragment}"></footer>
</div>
</body>
</html>