<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="~{template :: headFragment(${SITE_NAME}, ${'none'})}">
</head>
<body>
<div class="container-fluid text-center">
	<div th:replace="~{navigation :: navFragment}"></div>
	
	<section class="container vh-100 rounded" style="background-color: #508bfc;">
		<div class="container py-5 h-100">
			<div class="row d-flex justify-content-center align-items-center h-100">
				<div class="col-12 col-md-8 col-lg-6 col-xl-5">
					<div class="card shadow-2-strong" style="border-radius: 1rem;">
						<div class="card-body p-5 text-center">
							<h2 class="mb-5">Digita la nuova password</h2>
							<form th:action="@{/reset_password}" method="post">
								<input type="hidden" th:value="${token}" name="token">
								<div class="form-outline mb-4">
									<input class="form-control form-control-lg" type="password" 
											name="password" placeholder="Digita la nuova password" 
											id="password" required autofocus minlength="8" maxlength="15">
								</div>
								<div class="form-outline mb-4">
									<input class="form-control form-control-lg" type="password" 
											placeholder="Ripeti la password" 
											required minlength="8" maxlength="15" oninput="checkPasswordMatch(this)">
								</div>			            
					            <button class="btn btn-primary btn-lg btn-block" type="submit">Resetta password</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer class="container-fluid" th:replace="~{template :: footerFragment}"></footer>
</div>
<script text="text/javascript">
	function checkPasswordMatch(confirmPassword){
		if(confirmPassword.value != $("#password").val()){
			confirmPassword.setCustomValidity("La password non corrisponde");
		}else{
			confirmPassword.setCustomValidity("");
		}
	}
</script>
</body>
</html>